#crossword-grid {
    .cell {
        &.valid {
            border: 2px solid green;
        }

        &.invalid {
            border: 2px solid red;
        }

        &.mixed {
            border: 2px solid orange;
        }

        &.empty {
            border: 2px solid gray;
        }

        &.wall {
            background-color: gray;
            pointer-events: none;
        }

        &.goal {
            pointer-events: none;
            border: 2px solid green;
        }

        .input {
            border: 0px;
            width: 100%;
            height: 100%;
            padding: 0px 0px 0px 0px;
            text-align: center;
            font: small-caps bold 32px/1 sans-serif;
            background: none;
            position: absolute;
        }

        .icon {
            width: 100%;
            height: 100%;
        }

        width: 48px;
        height: 48px;
        position: relative;
    }

    display: grid;
    gap: 2px;
}

#content {
    display: flex;
    justify-content: center;
    overflow: hidden;
}