#crossword-grid {
    .cell {
        &.valid {
            border: 2px solid green;
        }

        &.invalid {
            border: 2px solid red;
        }

        &.empty {
            border: 2px solid gray;
        }

        &.wall {
            background-color: gray;
            pointer-events: none;
            border: 0px;
        }

        width: 48px;
        height: 48px;
        padding: 0px 0px 0px 0px;
        display: block;
        text-align: center;
        font: small-caps bold 32px/1 sans-serif;
    }

    display: grid;
    gap: 2px;
}

#content {
    display: flex;
    justify-content: center;
    overflow: hidden;
}